<mat-toolbar class="navbar">
  <button mat-icon-button>
    <a><img src="../assets/home.png"/></a>
  </button>
  <button mat-flat-button color="warn" routerLink="dashboard" routerLinkActive="active">Dashboard</button>
  <span class="example-spacer"></span>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput type="text" (keyup)="setValue($event)">
  </mat-form-field>
  <span class="example-spacer"></span>
  <div class="example-button-row">
    <button mat-button [matMenuTriggerFor]="commMenu">Communication</button>
    <mat-menu #commMenu="matMenu" xPosition="after">
      <button mat-menu-item routerLink="/" routerLinkActive="active" skipLocationChange="true">Intra page</button>
      <button mat-menu-item routerLink="/" routerLinkActive="active" skipLocationChange="true">Parent/child components</button>
      <button mat-menu-item routerLink="/" routerLinkActive="active" skipLocationChange="true">Sibling components</button>
      <button mat-menu-item routerLink="/" routerLinkActive="active" skipLocationChange="true">Unrelated components</button>
      <button mat-menu-item routerLink="/" routerLinkActive="active" skipLocationChange="true">App & S3</button>
      <button mat-menu-item routerLink="/" routerLinkActive="active" skipLocationChange="true">App & Node Server</button>
    </mat-menu>
    <a mat-button routerLink="form" routerLinkActive="active">Form</a>
    <a mat-button routerLink="table" routerLinkActive="active">Table</a>
    <button mat-button [matMenuTriggerFor]="afterMenu">Navbars</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item routerLink="/" routerLinkActive="active" skipLocationChange="true">Navbar 1</button>
      <button mat-menu-item routerLink="/second" robuterLinkActive="active" skipLocationChange="true">Navbar 2</button>
    </mat-menu>
  </div>
</mat-toolbar>
<router-outlet defaultFilter=""/>