<mat-toolbar class="navbar">
    <button mat-icon-button>
      <a><img src="../assets/home.png"/></a>
    </button>
    <span class="example-spacer"></span>
    <div class="example-button-row">
      <a mat-button [routerLink]="[{outlets:{navbar2:['form']}}]" routerLinkActive="active" name="navbar2">Form</a>
      <a mat-button [routerLink]="[{outlets:{navbar2:['table']}}]" routerLinkActive="active" name="navbar2">Table</a>
      <button mat-button [matMenuTriggerFor]="afterMenu">Navbars</button>
      <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item routerLink="/" routerLinkActive="active" skipLocationChange="true">Navbar 1</button>
        <button mat-menu-item routerLink="/second" robuterLinkActive="active" skipLocationChange="true">Navbar 2</button>
      </mat-menu>
      </div>
    
  </mat-toolbar>