<div>
  <mat-label>Hide: </mat-label>
  <mat-slide-toggle #sliderToggle>
    Show
  </mat-slide-toggle>
  <br>
  <br>
</div>
<div *ngIf="showContent else ifHide;">
  <p>Ng For:</p>
  <div 
    *ngFor="let num of list; 
      index as i; 
      first as f;
      last as l;
      count as c;
      even as e;
      odd as o"
  >
    value: {{num}} | 
    index: {{i}} | 
    first: {{f}} |
    last: {{l}} |
    count: {{c}} |
    evenIndex: {{e}} |
    oddIndex: {{o}} |
  </div>
  <div [ngSwitch]="switch">
    <div *ngSwitchCase="'one'">
      the one case
    </div>
    <div *ngSwitchDefault>
      the default case
    </div>
  </div>
</div>
<ng-container *ngTemplateOutlet="showContent ? ngTemplateShow : ngTemplateHide">
</ng-container>
<div>
  <ng-template #ifHide>
    <p>ng-if shows when hidden selected</p>
  </ng-template>
</div>
<div>
  <ng-template #ngTemplateHide>
    <p>ng-template when hidden selected</p>
  </ng-template>
</div>
<div>
  <ng-template #ngTemplateShow>
    <p>ng-template when show selected</p>
  </ng-template>
</div>