<mat-toolbar class="navbar">
  <button mat-icon-button>
    <a><img src="../assets/home.png"/></a>
  </button>
  <button mat-flat-button color="warn" routerLink="dashboard" routerLinkActive="active">Dashboard</button>
  <span class="example-spacer"></span>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input #searchBar matInput type="text" (keyup)="setValue($event)">
  </mat-form-field>
  <span class="example-spacer"></span>
  <div class="example-button-row">
    <button mat-button [matMenuTriggerFor]="commMenu">Communication</button>
    <mat-menu #commMenu="matMenu" xPosition="after">
      <button [matMenuTriggerFor]="commMenuSamePage" mat-menu-item>Same html page</button>
      <mat-menu #commMenuSamePage="matMenu" xPosition="after">
        <button mat-menu-item routerLink="/temp-ref-var" routerLinkActive="active" skipLocationChange="true">Template Reference Variable</button>
        <button mat-menu-item routerLink="/pipes" routerLinkActive="active" skipLocationChange="true">Pipes</button>
      </mat-menu>
      <button [matMenuTriggerFor]="commMenuIntraPage" mat-menu-item>Intra page</button>
      <mat-menu #commMenuIntraPage="matMenu" xPosition="after">
        <button mat-menu-item routerLink="/ngmodel" routerLinkActive="active" skipLocationChange="true">Ng Model</button>
        <button mat-menu-item routerLink="/intra" routerLinkActive="active" skipLocationChange="true">ViewChild</button>
        <button [matMenuTriggerFor]="commMenuForms" mat-menu-item>Forms</button>
        <mat-menu #commMenuForms="matMenu" xPosition="after">
          <button mat-menu-item routerLink="/template" routerLinkActive="active" skipLocationChange="true">Template form page</button>
          <button mat-menu-item routerLink="/reactive" routerLinkActive="active" skipLocationChange="true">Reactive form page</button>
        </mat-menu>
        <button mat-menu-item routerLink="/structural-directives" routerLinkActive="active" skipLocationChange="true">Structural Directives</button>
        <button mat-menu-item routerLink="/annotation-selection" routerLinkActive="active" skipLocationChange="true">Annotation Selection</button>
        <button mat-menu-item routerLink="/lifecycle-hooks" routerLinkActive="active" skipLocationChange="true">Lifecycle Hooks</button>
        <button mat-menu-item routerLink="/renderer2" routerLinkActive="active" skipLocationChange="true">Renderer 2</button>
        <button mat-menu-item routerLink="/zones" routerLinkActive="active" skipLocationChange="true">Zones</button>
      </mat-menu>
      <button [matMenuTriggerFor]="commMenuParentChild" mat-menu-item>Parent/child components</button>
      <mat-menu #commMenuParentChild="matMenu" xPosition="after">
        <button mat-menu-item routerLink="/parent-child" routerLinkActive="active" skipLocationChange="true">Ng Content</button>
      </mat-menu>
      <button mat-menu-item routerLink="/siblings" routerLinkActive="active" skipLocationChange="true">Sibling components</button>
      
      <button mat-menu-item routerLink="/external" routerLinkActive="active" skipLocationChange="true">External - RxJS</button>
      
    </mat-menu>
    <a mat-button routerLink="table" routerLinkActive="active">Table</a>
    <button mat-button [matMenuTriggerFor]="afterMenu">To be Implemented</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button [matMenuTriggerFor]="commMenuUnrelated" mat-menu-item>Unrelated Components</button>
      <mat-menu #commMenuUnrelated="matMenu" xPosition="after">
        <button mat-menu-item routerLink="/unrelated" routerLinkActive="active" skipLocationChange="true">NgRx - State Management</button>
      </mat-menu>
      <button [matMenuTriggerFor]="commMenuExternal" mat-menu-item>External</button>
      <mat-menu #commMenuExternal="matMenu" xPosition="after">
        <button mat-menu-item routerLink="/app-s3" routerLinkActive="active" skipLocationChange="true">App & S3</button>
        <button mat-menu-item routerLink="/app-server" routerLinkActive="active" skipLocationChange="true">App & Node Server</button>
      </mat-menu>
    </mat-menu>
  </div>
</mat-toolbar>
<router-outlet defaultFilter=""/>