<router-outlet/>
<div>
  <span>
      <mat-label>Input: </mat-label>
      <mat-form-field>
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
  </span> 
  <span>
    <mat-label>Input: </mat-label>
    <mat-form-field>
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
  </span>
  <span>
    <mat-label>Input: </mat-label>
    <mat-form-field>
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
  </span>
</div>
<div>
  <mat-label>Dropdown: </mat-label>
  <span>
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
  </span>
  <span>
    <mat-label>Dropdown: </mat-label>
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
  </span>
</div>
<div>
  <mat-label>Input Area: </mat-label>
  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>