<p>
  <mat-label>Open console log to see typed value in ts file</mat-label>
  <br>
  <span>type something: </span>
  <mat-form-field>
    <input matInput #inputVarOne (keyup)="inputVarOneKeyUp()">
  </mat-form-field>
  <br>
  <span>ngModel: </span>
  <mat-form-field>
    <input matInput [(ngModel)]="textVarTsValue" >
  </mat-form-field>
  <br>
  <span>ViewChild variable: </span>
  <mat-form-field>
    <input matInput #inputVarTwo value="{{textVarTsValue}}">
  </mat-form-field>
  <br>
  <br>
  <span [HovHighlight]="'red'" [Orientation]="'V'">
    Attribute Directives: NgModel | NgClass | NgStyle
  </span>
</p>